* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    width: 100%;
    background-color: rgb(205, 237, 237);
   padding-top: 10%;
    
}
.main-container {
 display: grid;
grid-template-columns: 50% 50%;
height: fit-content;
width: 50%;
margin: auto;
border-radius: 20px;
background-color: white;
}
.main1-container{
    width: 90%;
    margin: auto;
}
.main1-contents1 {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}
.main1-contents1 h2 {
    font-size: 1em;
}
.main1-contents1 a{
    font-size: 15px;
    color: black;
    opacity: 0.5;
}
label {
    display: block;
    margin-bottom: 5px;
    opacity: 0.7;
}
.input-contents-1 {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
}
.icone-euro {
    background-color:  rgb(205, 237, 237);
    width: 15%;
    padding: 7px 0;
    text-align: center;
    font-size: 15px;
    align-self: center;
    border-top:1px solid black ;
    border-left:1px solid black ;
    border-bottom:1px solid black ;
    border-radius: 5px 0 0 5px;
    
}
form {
    width: 100%;
}
#MortageAmont {
    padding: 8px 0;
    width:220%;
outline: none;
border: none;
border-top:1px solid black ;
border-right:1px solid black ;
border-bottom:1px solid black ; 
border-radius:  0 5px 5px  0;
}
.input-contents-2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 20px;
}
.years-container {
    display: flex;
    width: 100%;
}
.years-container input {
 padding: 8px 0;
 width: 100%;
outline: none;
border: none;
border-top:1px solid black ;
border-left:1px solid black ;
border-bottom:1px solid black ; 
border-radius:  5px 0   0 5px;

}
.years-container  p {
 padding: 6.5px 0; 
border-top:1px solid black ;
border-right:1px solid black ;
border-bottom:1px solid black ; 
width: 100%;
text-align: center;
font-size: 16px;
border-radius:   0 5px  5px 0 ;
background-color:rgb(205, 237, 237);
}
/* .input-contents-input {
    margin-left: 10px;

} */
 .years-container2 {
    display: flex;
    width: 100%;
 }
 .years-container2 input {
    padding: 8px 0;
    width: 100%;
   outline: none;
   border: none;
   border-top:1px solid black ;
   border-left:1px solid black ;
   border-bottom:1px solid black ; 
   border-radius:  5px 0   0 5px;
 }
 .years-container2 p {
    width: 330%;
    padding: 6.5px 0; 
    border-top:1px solid black ;
    border-right:1px solid black ;
    border-bottom:1px solid black ; 
    text-align: center;
    font-size: 16px;
    border-radius:   0 5px  5px 0 ;
    background-color:rgb(205, 237, 237);
 }
.radio-box {
    padding: 8px 0;
    border: 1px solid black;
    margin-bottom: 5px;
    border-radius: 5px;
    padding-left: 10px;
}
.radio-text {
    margin-left: 10px;
}
.cal-repayment {
    width: 80%;
    background-color: #c6d431;
    padding: 10px;
    border: 3px solid  #c6d431;
    border-radius: 20px;
    text-align: center;
    margin: 20px 0;
    font-size: 17px;
    font-weight: 700;
}

/* side 2 */
.main2-container {
    height: 100%;
    background-color: #27424e;
    border-radius: 0 20px 20px 50px;
}
.main2-container2 {
    width: 90%;
    margin: auto;
    padding-top: 10px;
    color: white;
}
.main2-container2 h2{
    margin-bottom: 25px;
    font-size: 20px;
}
.main2-container2 p{
    margin-bottom: 25px;
    font-size: 15px;
    opacity: 0.8;
}
/* for repayment box */
.main2-container2b {
    background-color:#17272f;
    border-top: 3px solid #b7c33d;
    padding: 20px 20px;
    border-radius: 10px;
    height: fit-content;
    margin-bottom: 60px;
}
.main2-container2b hr {
    border: 0.3px solid rgb(136, 134, 134);
    margin-bottom: 20px;
}
.sec-2-text-yelow {
    color: #b7c33d;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 900;
}
.sec-2-text-repay span {
    font-size: 20px;
    font-weight: 900;
}
.me {
background-color: aqua;
}

@media (max-width:500px){

    section {
        height: fit-content;
        width: 100%;
        
    }
    .main-container {
        display: grid;
       grid-template-columns: 1fr ;
       height: fit-content;
       width: 90%;
      
       }

       .input-contents-1 {
        display: flex;
        margin-bottom: 20px;
        width: 100%;
    }
   
    #MortageAmont {
        padding: 8px 0;
        width:170%;
    }
    .input-contents-2 {
        display: grid;
        grid-template-columns:1fr;
        margin-bottom: 20px;
    }
    .years-container {
        display: flex;
        width: 100%;
    }
    .years-container input {
     padding: 8px 0;
     width: 180%;
    outline: none;
    border: none;
    border-top:1px solid black ;
    border-left:1px solid black ;
    border-bottom:1px solid black ; 
    border-radius:  5px 0   0 5px;
    
    }
    .years-container  p {
    width: 130%;
  
    }
   
     .years-container2 input {
        padding: 8px 0;
        width: 180%;
     }
     .years-container2 p {
        width: 330%;
    
     }

       .main1-contents1 {
        display: grid;
        height: 50px;
        margin-bottom: 10px;
    }

    .input-contents-2 {
        display: grid;
        grid-template-columns: 1fr;
    }
   

  

  
.per-contents {
    margin-left: 45px;
}

 }